<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fly.NET管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="~/Scripts/layui/layui.js"></script>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/res/css/global.css" rel="stylesheet" />

</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header header header-demo">
            <div class="layui-main">
                <a class="logo" href="/">
                    <img src="~/Content/logo-1.png" />
                </a>
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item  layui-this">
                        <a href="javascript:;">文章管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">评论管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">分类管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">积分管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">用户管理</a>
                    </li> 
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>
        
       
</body>
<script>
    layui.config({
        base:'/res/mods/'
    }).use(['element', 'global'], function () {
        var element = layui.element();
        //一些事件监听
        element.on('tab(demo)', function (data) {
            console.log(data);
        });
    });
</script>
@RenderSection("scripts", required: false)
</html>